@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Kalam&family=Kaushan+Script&family=Libre+Baskerville&family=Noto+Serif&family=Roboto&family=Sriracha&family=Tillana&family=Devonshire&display=swap");
@font-face {
  font-family: "europagrotesqueextraboldroman";
  src: url("europagrotesqueextrabold-webfont.woff2") format("woff2"), url("europagrotesqueextrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "breulgroteska-semuploadedfile";
  src: url("breul_grotesk_a_semilight-webfont.woff2") format("woff2"), url("breul_grotesk_a_semilight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
@media screen and (max-width: 425px) {
  html {
    font-size: 53%;
  }
}

body {
  font-size: 1rem;
  background-color: #FFF;
}
body a {
  color: #000;
  text-decoration: none;
}

.btn {
  display: flex;
  padding: 2% 0 2% 0;
}
.btn__proch {
  background-color: #579C87;
  font-size: 3.6rem;
  color: #FFCA46;
  margin: 0 auto;
  padding: 0.8rem 5.6rem 0.8rem 2.4rem;
  border-radius: 0.6rem;
}
.btn .point {
  content: ".";
  animation: point 1.2s steps(5, end) infinite;
}
@keyframes point {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #FFCA28;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 #FFCA28;
  }
}

@media screen and (max-width: 375px) {
  .btn__proch {
    width: 50%;
    height: 10rem;
    font-size: 2rem;
  }
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #579C87;
  color: #FFCA46;
  padding: 2rem;
  position: sticky;
  bottom: 0;
  font-size: 2.5rem;
}
.footer .mentions a, .footer .contact a {
  color: #FFCA46;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .mentions a:hover, .footer .contact a:hover {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media screen and (max-width: 768px) {
  .footer {
    font-size: 2rem;
  }
}
.header {
  background-color: #579C87;
}
.header__header {
  padding: 1rem;
  text-align: center;
}
.header__lien {
  font-family: "Breul Grotesk A SemiLight";
  font-weight: bold;
  font-size: 8rem;
  color: #FFCA46;
}
.header__lien:hover {
  text-shadow: 0 0 2px #000, 0 0 2px #fff, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
  .header__lien {
    font-size: 5rem;
  }
}
ul {
  list-style: none;
  max-width: 120rem;
  margin: auto;
}

li {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1);
  transition: transform 400ms;
}
li a:hover {
  transform: scale(1.15);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav__img {
  width: 8rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 3rem 0 3rem;
}
.nav__menu1 {
  background-color: #FCDFDB;
  font-family: "Devonshire", sans-serif;
  box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  text-align: center;
  width: 43rem;
  height: 56rem;
  padding: 2rem;
  margin: 5rem;
}
.nav__titre1 {
  line-height: 10rem;
  color: #3C1218;
  font-size: 3.5rem;
}
.nav__stitre1 {
  font-family: "Segoe Print", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
.nav__menu2 {
  background-color: #FFF5FE;
  font-family: "Croissant one", sans-serif;
  box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  text-align: center;
  width: 43rem;
  height: 56rem;
  padding: 2rem;
  margin: 5rem;
}
.nav__titre2 {
  font-size: 3rem;
  background: -webkit-linear-gradient(140deg, #905BFD 0%, #D88526 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__stitre2 {
  font-family: "FF Casus pro bold";
  font-weight: bold;
  font-size: 3rem;
  color: #C77412;
}
.nav__menu3 {
  background-color: #F9F9F9;
  font-family: "Kaushan script", sans-serif;
  box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  text-align: center;
  width: 43rem;
  height: 56rem;
  padding: 2rem;
  margin: 5rem;
}
.nav__titre3 {
  font-size: 4rem;
  background: -webkit-linear-gradient(140deg, #0887FB 0%, #0431DF 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__stitre3 {
  font-family: "Segoe Print", sans-serif;
  font-size: 3rem;
  color: #0887FB;
}
.nav__menu4 {
  background-color: #FDFFFD;
  font-family: "Kaushan script", sans-serif;
  box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  text-align: center;
  width: 43rem;
  height: 56rem;
  padding: 2rem;
  margin: 5rem;
}
.nav__titre4 {
  font-size: 4rem;
  background: -webkit-linear-gradient(140deg, #BFFF7E 0%, #42973C 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav__stitre4 {
  font-family: "Segoe Print", sans-serif;
  font-size: 3rem;
  color: #72BF56;
}

@media screen and (max-width: 425px) {
  .nav__menu1 {
    box-shadow: 0.5px 0.5px 5px #888;
    opacity: 1;
    text-align: center;
    width: 30rem;
    height: 45rem;
    padding: 2rem;
    margin: 2rem;
  }
  .nav__img {
    width: 5rem;
  }
  .nav__menu2 {
    box-shadow: 0.5px 0.5px 5px #888;
    opacity: 1;
    text-align: center;
    width: 30rem;
    height: 45rem;
    padding: 2rem;
    margin: 2rem;
  }
  .nav__menu3 {
    box-shadow: 0.5px 0.5px 5px #888;
    opacity: 1;
    text-align: center;
    width: 30rem;
    height: 45rem;
    padding: 2rem;
    margin: 2rem;
  }
  .nav__menu4 {
    box-shadow: 0.5px 0.5px 5px #888;
    opacity: 1;
    text-align: center;
    width: 30rem;
    height: 45rem;
    padding: 2rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .nav__menu1 {
    box-shadow: 0.5px 0.5px 5px #888;
    opacity: 1;
    text-align: center;
    width: 25rem;
    height: 40rem;
    padding: 2rem;
    margin: 2rem;
  }
  .nav__img {
    width: 4rem;
  }
  .nav__menu2 {
    box-shadow: 0.5px 0.5px 5px #888;
    opacity: 1;
    text-align: center;
    width: 25rem;
    height: 40rem;
    padding: 2rem;
    margin: 2rem;
  }
  .nav__menu3 {
    box-shadow: 0.5px 0.5px 5px #888;
    opacity: 1;
    text-align: center;
    width: 25rem;
    height: 40rem;
    padding: 2rem;
    margin: 2rem;
  }
  .nav__menu4 {
    box-shadow: 0.5px 0.5px 5px #888;
    opacity: 1;
    text-align: center;
    width: 25rem;
    height: 40rem;
    padding: 2rem;
    margin: 2rem;
  }
}
.article_mentions {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
.article_mentions h2 {
  line-height: 2;
  font-size: 3rem;
  padding-top: 1rem;
}
.article_mentions p {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  text-align: justify;
}
.article_mentions a {
  color: #579C87;
}
@media screen and (max-width: 375px) {
  .article_mentions h2 {
    font-size: 2rem;
  }
}

/*--------MENU GENERAL--------*/
.menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.menup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prix {
  font-weight: bold;
}

.section {
  text-align: center;
  padding: 2rem 2rem;
}
.section__titre {
  font-size: 3rem;
}

.carte__img {
  width: 7rem;
}

.menu__imgg {
  margin-left: 6rem;
}

.menu__imgd {
  margin-right: 6rem;
}

.menu__imgg2 {
  margin: 0 2rem 0 2rem;
  height: auto;
  width: 25rem;
}

.menu__imgd2 {
  margin: 0 2rem 0 2rem;
  height: auto;
  width: 25rem;
}

/*--------MENU 1--------*/
.carte__header1 {
  padding: 5rem 0;
}

.carte__menu1 {
  font-family: "Kalam", sans-serif;
  color: #3d1319;
  background-color: #FCDFBD;
  box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  height: 120rem;
  width: 90rem;
  margin: 0 auto 2rem auto;
  text-align: center;
}
.carte__menu1 .carte__titre1 {
  font-family: "Devonshire", sans-serif;
  font-size: 4.5rem;
}
.carte__menu1 .menu__stitre1 {
  position: relative;
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 500;
}
.carte__menu1 .menu__stitre1:hover::after {
  transform: scaleX(1);
}
.carte__menu1 .menu__stitre1::after {
  color: #000;
  content: "";
  border-bottom: solid 0.3rem;
  height: 100%;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transition: 1s;
  transform-origin: 0% 50%;
}
.carte__menu1 .menu__liste1 {
  padding: 5rem 5rem;
  line-height: 2;
  font-size: 1.6rem;
  text-align: left;
}
.carte__menu1 .carte__footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.6rem;
}
.carte__menu1 .carte__footerimg {
  width: 5rem;
  margin: 0 1rem auto;
}
.carte__menu1 .carte__footerp {
  font-family: "Devonshire", sans-serif;
  font-size: 4.5rem;
}

.carte__menu2 {
  font-family: "Libre Baskerville", sans-serif;
  color: #3d1319;
  background-color: #FFF5FE;
  box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  height: 120rem;
  width: 90rem;
  margin: 0 auto 2rem auto;
  text-align: center;
}
.carte__menu2 .carte__titre2 {
  font-family: "Croissant one", sans-serif;
  font-size: 4.5rem;
  background: -webkit-linear-gradient(140deg, #905BFD 0%, #D88526 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8rem 0 8rem 0;
}
.carte__menu2 .menu__stitre2 {
  margin: 0 1.6rem;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 700;
}
.carte__menu2 .menu__stitre2:hover::after {
  transform: scaleX(1);
}
.carte__menu2 .menu__stitre2::after {
  color: #C67412;
  content: "";
  border-bottom: solid 0.3rem;
  height: 100%;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transition: 1s;
  transform-origin: 0% 50%;
}
.carte__menu2 .menu__stitre22 {
  margin: 0 1.6rem;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 700;
}
.carte__menu2 .menu__stitre22:hover::after {
  transform: scaleX(1);
}
.carte__menu2 .menu__stitre22::after {
  color: #BC8CC2;
  content: "";
  border-bottom: solid 0.3rem;
  height: 100%;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transition: 1s;
  transform-origin: 0% 50%;
}
.carte__menu2 .menu__stitre222 {
  margin: 0 1.6rem;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 700;
}
.carte__menu2 .menu__stitre222:hover::after {
  transform: scaleX(1);
}
.carte__menu2 .menu__stitre222::after {
  color: #6E4CCC;
  content: "";
  border-bottom: solid 0.3rem;
  height: 100%;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transition: 1s;
  transform-origin: 0% 50%;
}
.carte__menu2 .menu__liste2 {
  margin: 5rem 0 5rem 0;
  padding: 0 12rem 0 12rem;
  line-height: 2;
  font-size: 1.6rem;
  text-align: left;
}
.carte__menu2 .carte__table1 {
  color: #C67412;
}
.carte__menu2 .carte__table2 {
  color: #BC8CC2;
}
.carte__menu2 .carte__table3 {
  color: #6E4CCC;
}

.carte__menu3 {
  font-family: "Kalam", sans-serif;
  color: #000;
  background-color: #F9F9F9;
  box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  height: 120rem;
  width: 90rem;
  margin: 0 auto 2rem auto;
  text-align: center;
}
.carte__menu3 .carte__titre3 {
  font-family: "Dancing script", sans-serif;
  font-size: 5.5rem;
  background: -webkit-linear-gradient(140deg, #0887FB 10%, #0431DF 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8rem 0 8rem 0;
}
.carte__menu3 .menu__stitre3 {
  white-space: nowrap;
  margin: 0 1.6rem;
  font-size: 2.8rem;
}
.carte__menu3 .menu__stitre3:hover::after {
  transform: scaleX(1);
}
.carte__menu3 .menu__stitre3::after {
  color: #000;
  content: "";
  border-bottom: solid 0.3rem;
  height: 100%;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transition: 1s;
  transform-origin: 0% 50%;
}
.carte__menu3 .menu__liste3 {
  margin: 5rem 0 5rem 0;
  padding: 0 12rem 0 12rem;
  line-height: 2;
  font-size: 1.6rem;
  text-align: left;
}

.carte__menu4 {
  font-family: "Kalam", sans-serif;
  color: #000;
  background-color: #FDFFFD;
  box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  height: 120rem;
  width: 90rem;
  margin: 0 auto 2rem auto;
  text-align: center;
}
.carte__menu4 .carte__titre4 {
  font-family: "Kaushan script", sans-serif;
  font-size: 5.5rem;
  background: -webkit-linear-gradient(140deg, #BFFF7E 0%, #42973C 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8rem 0 8rem 0;
}
.carte__menu4 .menu__stitre4 {
  white-space: nowrap;
  margin: 0 1.6rem;
  font-size: 2.8rem;
  font-weight: 700;
}
.carte__menu4 .menu__stitre4:hover::after {
  transform: scaleX(1);
}
.carte__menu4 .menu__stitre4::after {
  color: #000;
  content: "";
  border-bottom: solid 0.3rem;
  height: 100%;
  width: 100%;
  display: block;
  transform: scaleX(0);
  transition: 1s;
  transform-origin: 0% 50%;
}
.carte__menu4 .menu__liste4 {
  margin: 5rem 0 5rem 0;
  padding: 0 12rem 0 12rem;
  line-height: 2;
  font-size: 1.6rem;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .menup {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .carte__menu1 {
    width: 60rem;
  }
  .carte__menu1 .menu__stitre1 {
    font-size: 1.7rem;
    white-space: normal;
  }
  .carte__menu1 .menu__imgd {
    width: 30%;
  }
  .carte__menu1 .menu__imgg {
    width: 30%;
  }

  .carte__menu2 {
    width: 60rem;
  }
  .carte__menu2 .menu__stitre2 {
    font-size: 1.6rem;
  }
  .carte__menu2 .menu__stitre22 {
    font-size: 1.6rem;
  }
  .carte__menu2 .menu__stitre222 {
    font-size: 1.6rem;
  }
  .carte__menu2 .menu__imgd2 {
    width: 30%;
    margin: 0;
  }
  .carte__menu2 .menu__imgg2 {
    width: 30%;
    margin: 0;
  }
  .carte__menu2 .menu__descrip {
    font-size: 1.3rem;
  }
  .carte__menu2 .menu__liste2 {
    margin: 5rem 0 5rem 0;
    padding: 0 6rem 0 6rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: left;
  }

  .carte__menu3 {
    width: 60rem;
  }
  .carte__menu3 .menu__stitre3 {
    font-size: 2rem;
  }
  .carte__menu3 .menu__imgd2 {
    width: 30%;
    margin: 0.5rem;
  }
  .carte__menu3 .menu__imgg2 {
    width: 30%;
    margin: 0.5rem;
  }
  .carte__menu3 .menu__descrip {
    font-size: 1.5rem;
  }
  .carte__menu3 .menu__liste3 {
    margin: 5rem 0 5rem 0;
    padding: 0 6rem 0 6rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: left;
  }

  .carte__menu4 {
    width: 60rem;
  }
  .carte__menu4 .menu__stitre4 {
    font-size: 2rem;
  }
  .carte__menu4 .menu__imgd2 {
    width: 30%;
    margin: 0.5rem;
  }
  .carte__menu4 .menu__imgg2 {
    width: 30%;
    margin: 0.5rem;
  }
  .carte__menu4 .menu__descrip {
    font-size: 1.3rem;
  }
  .carte__menu4 .menu__liste4 {
    margin: 5rem 0 5rem 0;
    padding: 0 6rem 0 6rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: left;
  }
}
@media screen and (max-width: 425px) {
  .menup {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .carte__menu1 {
    width: 40rem;
  }
  .carte__menu1 .carte__header {
    padding: 2rem 0 2rem 0;
  }
  .carte__menu1 .menu__stitre1 {
    font-size: 1.1rem;
    font-weight: 700;
  }
  .carte__menu1 .menu__imgd {
    width: 20%;
  }
  .carte__menu1 .menu__imgg {
    width: 30%;
  }
  .carte__menu1 .menu__descrip {
    font-size: 1.3rem;
  }
  .carte__menu1 .carte__footerp {
    font-size: 3rem;
  }
  .carte__menu1 .carte__footerimg {
    width: 3rem;
    margin: 0 1rem auto;
  }

  .carte__menu2 {
    width: 40rem;
  }
  .carte__menu2 .carte__titre2 {
    font-size: 2.5rem;
  }
  .carte__menu2 .menu__stitre2 {
    font-size: 1.4rem;
  }
  .carte__menu2 .menu__stitre22 {
    font-size: 1.4rem;
  }
  .carte__menu2 .menu__stitre222 {
    font-size: 1.4rem;
  }
  .carte__menu2 .menu__imgd2 {
    width: 20%;
    margin: 0;
  }
  .carte__menu2 .menu__imgg2 {
    width: 20%;
    margin: 0;
  }
  .carte__menu2 .menu__descrip {
    font-size: 1.2rem;
  }

  .carte__menu3 {
    width: 40rem;
  }
  .carte__menu3 .carte__titre3 {
    font-size: 3.5rem;
  }
  .carte__menu3 .menu__stitre3 {
    font-size: 2rem;
  }
  .carte__menu3 .menu__imgd2 {
    width: 20%;
    margin: 0.5rem;
  }
  .carte__menu3 .menu__imgg2 {
    width: 20%;
    margin: 0.5rem;
  }
  .carte__menu3 .menu__descrip {
    font-size: 1.5rem;
  }
  .carte__menu3 .menu__liste3 {
    margin: 5rem 0 5rem 0;
    padding: 0 6rem 0 6rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: left;
  }

  .carte__menu4 {
    width: 40rem;
  }
  .carte__menu4 .carte__titre4 {
    font-size: 4rem;
  }
  .carte__menu4 .menu__stitre4 {
    font-size: 2rem;
  }
  .carte__menu4 .menu__imgd2 {
    width: 20%;
    margin: 0.5rem;
  }
  .carte__menu4 .menu__imgg2 {
    width: 20%;
    margin: 0.5rem;
  }
  .carte__menu4 .menu__descrip {
    font-size: 1.3rem;
  }
  .carte__menu4 .menu__liste4 {
    margin: 5rem 0 5rem 0;
    padding: 0 6rem 0 6rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  .menup {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .carte__menu1 {
    width: 35rem;
  }
  .carte__menu1 .carte__titre1 {
    font-size: 2.5rem;
  }
  .carte__menu1 .menu__imgd {
    width: 20%;
  }
  .carte__menu1 .menu__imgg {
    width: 20%;
  }

  .carte__menu2 {
    width: 30rem;
  }
  .carte__menu2 .carte__titre2 {
    font-size: 2.2rem;
  }
  .carte__menu2 .menu__stitre2 {
    font-size: 1rem;
  }
  .carte__menu2 .menu__stitre22 {
    font-size: 1rem;
  }
  .carte__menu2 .menu__stitre222 {
    font-size: 1rem;
  }
  .carte__menu2 .menu__imgd2 {
    width: 20%;
    margin: 0;
  }
  .carte__menu2 .menu__imgg2 {
    width: 20%;
    margin: 0;
  }
  .carte__menu2 .menu__descrip {
    font-size: 1.3rem;
  }

  .carte__menu3 {
    width: 35rem;
  }
  .carte__menu3 .carte__titre3 {
    font-size: 3.5rem;
  }
  .carte__menu3 .menu__stitre3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .carte__menu3 .menu__imgd2 {
    width: 20%;
    margin: 0.2rem;
  }
  .carte__menu3 .menu__imgg2 {
    width: 20%;
    margin: 0.2rem;
  }
  .carte__menu3 .menu__descrip {
    font-size: 1.5rem;
  }
  .carte__menu3 .menu__liste3 {
    margin: 5rem 0 5rem 0;
    padding: 0 6rem 0 6rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: left;
  }

  .carte__menu4 {
    width: 35rem;
  }
  .carte__menu4 .carte__titre4 {
    font-size: 3.5rem;
  }
  .carte__menu4 .menu__stitre4 {
    font-size: 1.5rem;
  }
  .carte__menu4 .menu__imgd2 {
    width: 20%;
    margin: 0.5rem;
  }
  .carte__menu4 .menu__imgg2 {
    width: 20%;
    margin: 0.5rem;
  }
  .carte__menu4 .menu__descrip {
    font-size: 1rem;
  }
  .carte__menu4 .menu__liste4 {
    margin: 5rem 0 5rem 0;
    padding: 0 6rem 0 6rem;
    line-height: 2;
    font-size: 1.6rem;
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
