ul{
    list-style: none; 
    max-width: 120rem;
    margin: auto;
}

li{
    display: flex;
    align-items: stretch;
    justify-content: center;  
    flex-wrap: wrap;
}

li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
      transform: scale(1.15);
    }   
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    &__img{
        width: 8rem;
        position: absolute;
        top: 30%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }

    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; 
        padding: 0 3rem 0 3rem;
    }   
    
    &__menu1{
        background-color: #FCDFDB;
        font-family: $font-menu1;
        @include formemenuIndex;
    }
    &__titre1{
        line-height: 10rem;
        color: $color-menu1;
        font-size: 3.5rem;
    }

    &__stitre1{
        @include sizefontMeme;
        font-weight: bold;
        
    }
    
    &__menu2{
        background-color: #FFF5FE;
        font-family: $font-menu2;
        @include formemenuIndex;
    }
    &__titre2{
        font-size: $size-titre;
        background: -webkit-linear-gradient(140deg,#905BFD 0%, #D88526 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    &__stitre2{
        font-family: "FF Casus pro bold";
        font-weight: bold;
        font-size: $size-stitre;
        color: #C77412;
    }
    
   &__menu3{
        background-color: #F9F9F9;
        font-family: $font-menu4;
        @include formemenuIndex;
    }

    &__titre3{
        font-size: 4rem;
        background: -webkit-linear-gradient(140deg,#0887FB 0%, #0431DF 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
    }

    &__stitre3{
        @include sizefontMeme;
        color: #0887FB;
    }
    
    &__menu4{
        background-color: #FDFFFD;
        font-family: $font-menu4;
        @include formemenuIndex;
    }
    &__titre4{
        font-size: 4rem;
        background: -webkit-linear-gradient(140deg,#BFFF7E 0%, #42973C 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    &__stitre4{
        @include sizefontMeme;
        color: #72BF56;
    }
}


@media screen and (max-width : 425px) {
    .nav{
        &__menu1{
            @include responmenuIndex;
        }
        &__img{
            width: 5rem;
        }
        &__menu2{
            @include responmenuIndex;
        }

        &__menu3{
            @include responmenuIndex;
        }
        &__menu4{
            @include responmenuIndex;
        }
    }
}

@media screen and (max-width : 320px) {
    .nav{
        &__menu1{
            @include responmenuIndex320;
        }
        &__img{
            width: 4rem;
        }
        &__menu2{
            @include responmenuIndex320;
        }

        &__menu3{
            @include responmenuIndex320;
        }
        &__menu4{
            @include responmenuIndex320;
        }
    }
}

