.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    padding: 2% 0 2% 0;

    &__proch{
    background-color: $back-Principal;
    font-size: 36px;
    color: $color-Principal;
    margin: 0 auto;
    padding: 8px 56px 8px 24px;
    position: relative;
    border-radius: 6px;
    }

    .point{
        content: ".";
        animation: point 1.2s steps(5, end) infinite;
      }
      
      @keyframes point{
        0%, 20% {
          color: rgba(0, 0, 0, 0);
          text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        40% {
          color: #FFCA28;
          text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        60% {
          text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        80%, 100% {
          text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 #FFCA28;
        }
      }
    
        
}   