.btn{
    display: flex;
    padding: 2% 0 2% 0;

    &__proch{
      background-color: $back-Principal;
      font-size: 3.6rem;
      color: $color-Principal;
      margin: 0 auto;
      padding: 0.8rem 5.6rem 0.8rem 2.4rem;
      border-radius: 0.6rem;
    }

    .point{
        content: ".";
        animation: point 1.2s steps(5, end) infinite;
    }
      
      @keyframes point{
        0%, 20% {
          color: rgba(0, 0, 0, 0);
          text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        40% {
          color: #FFCA28;
          text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        60% {
          text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 rgba(0, 0, 0, 0);
        }
        80%, 100% {
          text-shadow: 0.25em 0 0 #FFCA28, 0.5em 0 0 #FFCA28;
        }
      }
}   


@media screen and (max-width : 375px) {
  .btn__proch{
    width: 50%;
    height: 10rem;
    font-size: 2rem;
  }
}
