/*----------------INDEX----------------*/
@font-face {
  font-family: "Segoe Print";
  src: url("segoepr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CasusPro";
  src: url("CasusPro.woff2") format("woff2"), url("CasusPro.woff") format("woff"), url("CasusPro.ttf") format "truetype";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EuropaGrotesqueExtraBold";
  src: url("EuropaGrotesqueExtraBold.woff2") format("woff2"), url("EuropaGrotesqueExtraBold.woff") format("woff"), url("EuropaGrotesqueExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Breul Grotesk A SemiLight";
  src: url("Breul Grotesk A SemiLight.woff2") format("woff2"), url("Breul Grotesk A SemiLight.woff") format("woff"), url("Breul Grotesk A SemiLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*--------BODY--------*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF;
}

body a {
  color: #000;
  text-decoration: none;
}

/*--------RESPONSIVE--------*/
/*--------CONTAINER--------*/
.contenu {
  width: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*----HEADER----*/
.header {
  background-color: #579C87;
  width: 100%;
}

.header .header__header {
  padding: 10px;
  text-align: center;
}

.header .header__header--lien {
  width: 100%;
  height: 100%;
  font-family: "Breul Grotesk A SemiLight";
  font-weight: bold;
  font-size: 80px;
  color: #FFCA46;
}

.header .header__header--lien:hover {
  text-shadow: 0 0 2px #000, 0 0 2px #fff, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46;
}

/*----NAVIGATION----*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px 0 30px;
}

/*--------SASS INDEX--------*/
/*----MENU----*/
ul {
  list-style: none;
  max-width: 1200px;
  margin: auto;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

li a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.nav-menu__menu--menu1 {
  background-color: #FCDFDB;
  font-family: "Devonshire";
  -webkit-box-shadow: 0.5px 0.5px 5px #888;
          box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  text-align: center;
  width: 430px;
  height: 560px;
  padding: 20px;
  margin: 50px;
}

.nav-menu__menu--menu1 .nav-menu__menu--img {
  margin: 0px auto;
}

.nav-menu__menu--menu1 .nav-menu__menu--titre1 {
  line-height: 100px;
  color: #3C1218;
  font-size: 30px;
}

.nav-menu__menu--menu1 .nav-menu__menu--stitre1 {
  font-family: "Segoe Print";
  font-weight: bold;
  color: #3C1218;
  font-size: 30px;
}

.nav-menu__menu--menu2 {
  background-color: #FFF5FE;
  font-family: "Croissant one";
  text-align: center;
  width: 430px;
  height: 560px;
  -webkit-box-shadow: 0.5px 0.5px 5px #888;
          box-shadow: 0.5px 0.5px 5px #888;
  padding: 20px;
  margin: 50px;
}

.nav-menu__menu--menu2 .nav-menu__menu--titre2 {
  font-size: 30px;
  background: -webkit-linear-gradient(140deg, #905BFD 0%, #D88526 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu__menu--menu2 .nav-menu__menu--stitre2 {
  font-family: "FF Casus pro bold";
  font-size: 30px;
  color: #C77412;
}

.nav-menu__menu--menu3 {
  background-color: #F9F9F9;
  font-family: "Kaushan script";
  text-align: center;
  width: 430px;
  height: 560px;
  -webkit-box-shadow: 0.5px 0.5px 5px #888;
          box-shadow: 0.5px 0.5px 5px #888;
  padding: 20px;
  margin: 50px;
}

.nav-menu__menu--menu3 .nav-menu__menu--titre3 {
  font-size: 30px;
  background: -webkit-linear-gradient(140deg, #0887FB 0%, #0431DF 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu__menu--menu3 .nav-menu__menu--stitre3 {
  font-family: "Segoe Print";
  font-size: 30px;
  color: #0887FB;
}

.nav-menu__menu--menu4 {
  background-color: #FDFFFD;
  font-family: "Kaushan script";
  text-align: center;
  width: 430px;
  height: 560px;
  -webkit-box-shadow: 0.5px 0.5px 5px #888;
          box-shadow: 0.5px 0.5px 5px #888;
  padding: 20px;
  margin: 50px;
}

.nav-menu__menu--menu4 .nav-menu__menu--titre4 {
  font-size: 30px;
  background: -webkit-linear-gradient(140deg, #BFFF7E 0%, #42973C 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu__menu--menu4 .nav-menu__menu--stitre4 {
  font-family: "Segoe Print";
  font-size: 30px;
  color: #72BF56;
}

/*--------BOUTON--------*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
  padding: 2% 0 2% 0;
}

.btn .btn--proch {
  background-color: #579C87;
  font-size: 36px;
  color: #FFCA46;
  margin: 0 auto;
  padding: 8px 56px 8px 24px;
  position: relative;
  border-radius: 6px;
}

.btn .btn--proch span {
  position: absolute;
  right: 20px;
  bottom: 4px;
  -webkit-animation: a;
          animation: a;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.btn .btn--proch span:nth-child(2) {
  right: 20px;
  -webkit-animation: .2s;
          animation: .2s;
}

.btn .btn--proch span:nth-child(3) {
  right: 20px;
  -webkit-animation: .4s;
          animation: .4s;
}

/*--------FOOTER--------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #579C87;
  color: #FFCA46;
  padding: 20px 10px 20px 10px;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .mentions a, .footer .contact a {
  color: #FFCA46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
}

.footer .mentions a:hover, .footer .contact a:hover {
  -webkit-animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

/*--------SASS MENU--------*/
/*----------------PAGE MENU----------------*/
/*--------HEADER--------*/
.section {
  font-size: 28px;
  text-align: center;
  padding: 40px 0 10px 0;
}

.carte-menu__header {
  text-align: center;
  margin-bottom: 50px;
}

/*--------MENU GENERAL--------*/
.menu-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-table__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/*--------MENU 1--------*/
.carte--menu1 {
  font-family: "Kalam";
  color: #3d1319;
  background-color: #FCDFBD;
  -webkit-box-shadow: 0.5px 0.5px 5px #888;
          box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  width: 900px;
  height: 1000px;
  padding: 20px;
  margin: 50px;
}

.carte--menu1 .carte-menu__header--titre1 {
  font-family: "Devonshire";
  font-size: 45px;
}

.carte--menu1 .menu-table__stitre1 {
  position: relative;
  white-space: nowrap;
  margin: 0 35px 0 35px;
  font-size: 25px;
  font-weight: 700;
}

.carte--menu1 .menu-table__liste1 {
  margin: 10px 0 20px 0;
  line-height: 2;
  font-size: 16px;
}

.carte--menu1 .carte__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Devonshire";
  font-size: 26px;
}

.carte--menu1 .carte__footer .carte__footer--img {
  width: 50px;
  margin-right: 10px;
  margin-bottom: -10px;
}

/*--------MENU 2--------*/
.carte--menu2 {
  font-family: "Libre Baskerville";
  color: #3d1319;
  background-color: #FFF5FE;
  -webkit-box-shadow: 0.5px 0.5px 5px #888;
          box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  width: 900px;
  height: 1000px;
  padding: 20px;
  margin: 50px;
}

.carte--menu2 .carte-menu__header--titre2 {
  font-family: "Croissant one";
  font-size: 45px;
  background: -webkit-linear-gradient(140deg, #905BFD 0%, #D88526 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px 0 20px 0;
}

.carte--menu2 .menu-table__stitre2 {
  white-space: nowrap;
  margin: 0 35px 0 35px;
  font-size: 18px;
  font-weight: 700;
}

.carte--menu2 .menu-table__liste2 {
  margin: 10px 0 20px 0;
  line-height: 2;
  font-size: 16px;
}

/*--------MENU 3--------*/
.carte--menu3 {
  font-family: "Kalam";
  color: #000;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0.5px 0.5px 5px #888;
          box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  width: 900px;
  height: 1000px;
  padding: 20px;
  margin: 50px;
}

.carte--menu3 .carte-menu__header--titre3 {
  font-family: "Dancing script";
  font-size: 45px;
  background: -webkit-linear-gradient(140deg, #0887FB 0%, #0431DF 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px 0 20px 0;
}

.carte--menu3 .menu-table__stitre3 {
  white-space: nowrap;
  margin: 0 35px 0 35px;
  font-size: 18px;
  font-weight: 700;
}

.carte--menu3 .menu-table__liste3 {
  margin: 10px 0 20px 0;
  line-height: 2;
  font-size: 16px;
}

/*--------MENU 4--------*/
.carte--menu4 {
  font-family: "Kalam";
  color: #000;
  background-color: #FDFFFD;
  -webkit-box-shadow: 0.5px 0.5px 5px #888;
          box-shadow: 0.5px 0.5px 5px #888;
  opacity: 1;
  width: 900px;
  height: 1000px;
  padding: 20px;
  margin: 50px;
}

.carte--menu4 .carte-menu__header--titre4 {
  font-family: "Kaushan script";
  font-size: 45px;
  background: -webkit-linear-gradient(140deg, #BFFF7E 0%, #42973C 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px 0 20px 0;
}

.carte--menu4 .menu-table__stitre4 {
  white-space: nowrap;
  margin: 0 35px 0 35px;
  font-size: 18px;
  font-weight: 700;
}

.carte--menu4 .menu-table__liste4 {
  margin: 10px 0 20px 0;
  line-height: 2;
  font-size: 16px;
}

/*--------MENTIONS LEGALES--------*/
/*# sourceMappingURL=style.css.map */