/*----------------INDEX----------------*/
 @font-face {
     font-family: "Segoe Print";
     src: url("segoepr.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: "CasusPro";
     src: url("CasusPro.woff2") format("woff2"), url("CasusPro.woff") format("woff"), url("CasusPro.ttf")  format ("truetype");
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: "EuropaGrotesqueExtraBold";
     src: url("EuropaGrotesqueExtraBold.woff2") format("woff2"), url("EuropaGrotesqueExtraBold.woff") format("woff"), url("EuropaGrotesqueExtraBold.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
 }
  @font-face {
     font-family: "Breul Grotesk A SemiLight";
     src: url("Breul Grotesk A SemiLight.woff2") format("woff2"), url("Breul Grotesk A SemiLight.woff") format("woff"), url("Breul Grotesk A SemiLight.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
 }

/*--------BODY--------*/
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;

    a{
        color: #000;
        text-decoration: none;
    }
} 

/*--------RESPONSIVE--------*/



/*--------CONTAINER--------*/

.contenu{
    width: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*----HEADER----*/

$back-Principal : #579C87;
$color-Principal : #FFCA46;

.header{
    background-color: $back-Principal;
    width: 100%;

    .header__header{
        padding: 10px;
        text-align: center;
    }

    .header__header--lien{
        width: 100%;
        height: 100%;
        font-family: "Breul Grotesk A SemiLight";
        font-weight: bold;
        font-size: 80px; 
        color: $color-Principal;  
    }

    .header__header--lien:hover {
    text-shadow: 0 0 2px #000, 0 0 2px #fff, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46;
    }
}

/*----NAVIGATION----*/

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: border-box;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 0 30px 0 30px;
}


/*--------SASS INDEX--------*/

$align-text: center;
$shadow: 0.5px 0.5px 5px #888;
$opacity-Shadow : 1;
$color-menu1 : #3C1218;
$width-menu : 430px;
$height-menu : 560px;
$padding-menu: 20px;
$margin-menu: 50px;
$size-titre : 30px;
$display-titre : flex;
$font-stitre : "Segoe Print";
$size-stitre : 30px;
$font-menu1 : "Devonshire";
$font-menu2 : "Croissant one";
$font-menu3 : "Dancing script";
$font-menu4 : "Kaushan script";



/*----MENU----*/

ul{
    list-style: none; 
    max-width: 1200px;
    margin: auto;
}

li{
    display: flex;
    align-items: stretch;
    justify-content: center;  

}

li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
      transform: scale(1.15);
    }

    
}

.nav-menu__menu--menu1{
    background-color: #FCDFDB;
    font-family: $font-menu1;
    box-shadow: $shadow;
    opacity: $opacity-Shadow;
    text-align: $align-text;
    width: $width-menu;
    height: $height-menu;
    padding: $padding-menu;
    margin: $margin-menu;   
    
    .nav-menu__menu--img{
        margin: 0px auto;
    }

    .nav-menu__menu--titre1{
        line-height: 100px;
        color: $color-menu1;
        font-size: $size-titre;
    }

    .nav-menu__menu--stitre1{
        font-family: $font-stitre;
        font-weight: bold;
        color: $color-menu1;
        font-size: $size-titre;
    }
}

.nav-menu__menu--menu2{
    background-color: #FFF5FE;
    font-family: $font-menu2;
    text-align: $align-text;
    width: $width-menu;
    height: $height-menu;
    box-shadow: $shadow;
    padding: $padding-menu;
    margin: $margin-menu;

    .nav-menu__menu--titre2{
        font-size: $size-titre;
        background: -webkit-linear-gradient(140deg,#905BFD 0%, #D88526 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }
    .nav-menu__menu--stitre2{
        font-family: "FF Casus pro bold";
        font-size: $size-stitre;
        color: #C77412;
    }
}

.nav-menu__menu--menu3{
    background-color: #F9F9F9;
    font-family: $font-menu4;
    text-align: $align-text;
    width: $width-menu;
    height: $height-menu;
    box-shadow: $shadow;
    padding: $padding-menu;
    margin: $margin-menu;


    .nav-menu__menu--titre3{
        font-size: $size-titre;
        background: -webkit-linear-gradient(140deg,#0887FB 0%, #0431DF 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
    }

    .nav-menu__menu--stitre3{
        font-family: $font-stitre;
        font-size: $size-stitre;
        color: #0887FB;
    }
}

.nav-menu__menu--menu4{
    background-color: #FDFFFD;
    font-family: $font-menu4;
    text-align: $align-text;
    width: $width-menu;
    height: $height-menu;
    box-shadow: $shadow;
    padding: $padding-menu;
    margin: $margin-menu;

    .nav-menu__menu--titre4{
        font-size: $size-titre;
        background: -webkit-linear-gradient(140deg,#BFFF7E 0%, #42973C 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    .nav-menu__menu--stitre4{
        font-family: $font-stitre;
        font-size: $size-stitre;
        color: #72BF56;
    }
}


/*--------BOUTON--------*/

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    padding: 2% 0 2% 0;

    .btn--proch{
    background-color: $back-Principal;
    font-size: 36px;
    color: $color-Principal;
    margin: 0 auto;
    padding: 8px 56px 8px 24px;
    position: relative;
    border-radius: 6px;
    }

    .btn--proch span {
    position: absolute;
    right: 20px;
    bottom: 4px;
    animation: a;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    &:nth-child(2){
        right: 20px;
        animation: .2s;
    }
    &:nth-child(3)
    {
        right: 20px;
        animation: .4s;
    }
    }
        
}   

/*--------FOOTER--------*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: $back-Principal;
    color: $color-Principal;
    padding: 20px 10px 20px 10px;
    position: sticky;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mentions, .contact{
        a{
            color: $color-Principal;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            &:hover{
                animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
           }
        }
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


/*--------SASS MENU--------*/

$width-page : 900px;
$height-page : 1000px;
$padding-page : 20px;
$margin-page : 50px;
$color-page : #000;
$size-ptitre : 45px;
$font-page-1-3-4: "Kalam";
$white-space: nowrap;
$margin-stitre: 0 35px 0 35px;
$margin-table : 0 auto 20px auto;

/*----------------PAGE MENU----------------*/

/*--------HEADER--------*/
.section{
    font-size: 20px;
    text-align: $align-text;
    padding: 40px 0 20px 0;
}

.carte-menu__header{
    text-align: $align-text;
    margin-bottom: 50px;
}

/*--------MENU GENERAL--------*/

.menu-table__titre{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}



.prix{
    font-weight: bold;
}

/*--------MENU 1--------*/

.carte--menu1{
    font-family: $font-page-1-3-4;
    color: #3d1319;
    background-color: #FCDFBD;
    box-shadow: $shadow;
    opacity: $opacity-Shadow;
    width: $width-page;
    height: $height-page;
    padding: $padding-page;
    margin: $margin-table; 
    
    .carte-menu__header--titre1{
        font-family: $font-menu1;
        font-size: $size-ptitre;
    }

    .menu-table__stitre1{
        position: relative;
        white-space: $white-space;
        margin: $margin-stitre;
        font-size: 30px;
        font-weight: 700;
    }
    
    .menu-table__liste1{
        margin: 10px 0 20px 0;
        line-height: 2;
        font-size: 16px;
    }

    .carte__footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: $font-menu1;
        text-align: center;
        font-size: 26px;
        .carte__footer--img{
            width: 50px;
            height: 100%;
            margin-right: 10px;
            margin-bottom: -10px;
        }
    }


}

/*--------MENU 2--------*/

.carte--menu2{
    font-family: "Libre Baskerville";
    color: #3d1319;
    background-color: #FFF5FE;
    box-shadow: $shadow;
    opacity: $opacity-Shadow;
    width: $width-page;
    height: $height-page;
    padding: $padding-page;
    margin: $margin-table;

    .carte-menu__header--titre2{
        font-family: $font-menu2;
        font-size: $size-ptitre;
        background: -webkit-linear-gradient(140deg,#905BFD 0%, #D88526 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        padding: 100px 0 100px 0;
    }

    .menu-table__stitre2{
        white-space: $white-space;
        margin: $margin-stitre;
        font-size: 18px;
        font-weight: 700;
        color: #D17122;

        &:nth-of-type(2) p{
            color : #A6669a;
        }
    }
    
    .menu-table__liste2{
        margin: 10px 0 20px 0;
        line-height: 2;
        font-size: 16px;
    }
}

/*--------MENU 3--------*/

.carte--menu3{
    font-family: $font-page-1-3-4;
    color:$color-page;
    background-color: #F9F9F9;
    box-shadow: $shadow;
    opacity: $opacity-Shadow;
    width: $width-page;
    height: $height-page;
    padding: $padding-page;
    margin: $margin-table;

    .carte-menu__header--titre3{
        font-family: $font-menu3;
        font-size: $size-ptitre;
        background: -webkit-linear-gradient(140deg,#0887FB 0%, #0431DF 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        padding: 20px 0 20px 0;
    }

    .menu-table__stitre3{
        white-space: $white-space;
        margin: $margin-stitre;
        font-size: 18px;
        font-weight: 700;
    }
    
    .menu-table__liste3{
        margin: 10px 0 20px 0;
        line-height: 2;
        font-size: 16px;
    }
}


/*--------MENU 4--------*/

.carte--menu4{
    font-family: $font-page-1-3-4;
    color: $color-page;
    background-color: #FDFFFD;
    box-shadow: $shadow;
    opacity: $opacity-Shadow;
    width: $width-page;
    height: $height-page;
    padding: $padding-page;
    margin: $margin-table;

    .carte-menu__header--titre4{
        font-family: $font-menu4;
        font-size: $size-ptitre;
        background: -webkit-linear-gradient(140deg,#BFFF7E 0%, #42973C 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        padding: 20px 0 20px 0;
    }

    .menu-table__stitre4{
        white-space: $white-space;
        margin: $margin-stitre;
        font-size: 18px;
        font-weight: 700;
    }
    
    .menu-table__liste4{
        margin: 10px 0 20px 0;
        line-height: 2;
        font-size: 16px;
    }
}

/*--------MENTIONS LEGALES--------*/

.article_mentions {
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;


    h2 {
        line-height: 2;
        font-size: 30px;
    }
    
    p{
        padding-top: 15px;
    }
}


