/*----------------INDEX----------------*/
 @font-face {
     font-family: "Segoe Print";
     src: url("segoepr.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: "CasusPro";
     src: url("CasusPro.woff2") format("woff2"), url("CasusPro.woff") format("woff"), url("CasusPro.ttf")  format ("truetype");
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: "EuropaGrotesqueExtraBold";
     src: url("EuropaGrotesqueExtraBold.woff2") format("woff2"), url("EuropaGrotesqueExtraBold.woff") format("woff"), url("EuropaGrotesqueExtraBold.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
 }
  @font-face {
     font-family: "Breul Grotesk A SemiLight";
     src: url("Breul Grotesk A SemiLight.woff2") format("woff2"), url("Breul Grotesk A SemiLight.woff") format("woff"), url("Breul Grotesk A SemiLight.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
 }

/*--------BODY--------*/
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;

    a{
        color: #000;
        text-decoration: none;
    }
} 

/*--------RESPONSIVE--------*/



/*--------CONTAINER--------*/

.contenu{
    width: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*----HEADER----*/

$back-Principal : #579C87;
$color-Principal : #FFCA46;

.header{
    background-color: $back-Principal;
    width: 100%;

    .header__header{
        padding: 10px;
        text-align: center;
    }

    .header__header--lien{
        width: 100%;
        height: 100%;
        font-family: "Breul Grotesk A SemiLight";
        font-weight: bold;
        font-size: 80px; 
        color: $color-Principal;  
    }

    .header__header--lien:hover {
    text-shadow: 0 0 2px #000, 0 0 2px #fff, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46, 0 0 2px #FCCA46;
    }
}

/*----NAVIGATION----*/

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: border-box;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 0 30px 0 30px;
}


/*--------SASS INDEX--------*/

$align-text: center;
$shadow: 0.5px 0.5px 5px #888;
$opacity-Shadow : 1;
$color-menu1 : #3C1218;
$width-menu : 430px;
$height-menu : 560px;
$padding-menu: 20px;
$margin-menu: 50px;
$size-titre : 30px;
$display-titre : flex;
$font-stitre : "Segoe Print";
$size-stitre : 30px;



/*----MENU----*/

ul{
    list-style: none; 
    max-width: 1200px;
    margin: auto;
}

li{
    display: flex;
    align-items: stretch;
    justify-content: center;  

}

li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
      transform: scale(1.15);
    }

    
}

.nav-menu__menu--menu1{
    background-color: #FCDFDB;
    font-family: "Devonshire";
    box-shadow: $shadow;
    opacity: $opacity-Shadow;
    text-align: $align-text;
    width: $width-menu;
    height: $height-menu;
    padding: $padding-menu;
    margin: $margin-menu;   
    
    .nav-menu__menu--img{
        margin: 0px auto;
    }

    .nav-menu__menu--titre1{
        line-height: 100px;
        color: $color-menu1;
        font-size: $size-titre;
    }

    .nav-menu__menu--stitre1{
        font-family: $font-stitre;
        font-weight: bold;
        color: $color-menu1;
        font-size: $size-titre;
    }
}

.nav-menu__menu--menu2{
    background-color: #FFF5FE;
    font-family: "Croissant one";
    text-align: $align-text;
    width: $width-menu;
    height: $height-menu;
    box-shadow: $shadow;
    padding: $padding-menu;
    margin: $margin-menu;

    .nav-menu__menu--titre2{
        font-size: $size-titre;
        background: -webkit-linear-gradient(140deg,#905BFD 0%, #D88526 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }
    .nav-menu__menu--stitre2{
        font-family: "FF Casus pro bold";
        font-size: $size-stitre;
        color: #C77412;
    }
}

.nav-menu__menu--menu3{
    background-color: #F9F9F9;
    font-family: "Dancing script";
    text-align: $align-text;
    width: $width-menu;
    height: $height-menu;
    box-shadow: $shadow;
    padding: $padding-menu;
    margin: $margin-menu;


    .nav-menu__menu--titre3{
        font-size: $size-titre;
        background: -webkit-linear-gradient(140deg,#0887FB 0%, #0431DF 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
    }

    .nav-menu__menu--stitre3{
        font-family: $font-stitre;
        font-size: $size-stitre;
        color: #0887FB;
    }
}

.nav-menu__menu--menu4{
    background-color: #FDFFFD;
    font-family: "Kaushan script";
    text-align: $align-text;
    width: $width-menu;
    height: $height-menu;
    box-shadow: $shadow;
    padding: $padding-menu;
    margin: $margin-menu;

    .nav-menu__menu--titre4{
        font-size: $size-titre;
        background: -webkit-linear-gradient(140deg,#BFFF7E 0%, #42973C 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    .nav-menu__menu--stitre4{
        font-family: $font-stitre;
        font-size: $size-stitre;
        color: #72BF56;
    }
}


/*--------BOUTON--------*/

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    padding: 2% 0 2% 0;

    .btn--proch{
    background-color: $back-Principal;
    font-size: 36px;
    color: $color-Principal;
    margin: 0 auto;
    padding: 8px 56px 8px 24px;
    position: relative;
    border-radius: 6px;
    }

    .btn--proch span {
    position: absolute;
    right: 20px;
    bottom: 4px;
    animation: a;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    &:nth-child(2){
        right: 20px;
        animation: .2s;
    }
    &:nth-child(3)
    {
        right: 20px;
        animation: .4s;
    }
    }
        
}   

/*--------FOOTER--------*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: $back-Principal;
    color: $color-Principal;
    padding: 20px 10px 20px 10px;
    position: sticky;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mentions, .contact{
        a{
            color: $color-Principal;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            &:hover{
                animation: wiggle 250ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 3;
            }
        }
    }
}


/*--------SASS MENU--------*/

$width-page : 800px;
$height-page : 700px;
$padding-page : 20px;
$margin-page : 50px;

/*----------------PAGE MENU----------------*/

.section{
    text-align: center;
    padding: 40px 0 10px 0;
}


.menu-table_caption--titre{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*--------MENU 1--------*/

.carte--menu1{
    font-family: "kalam";
    color: #3d1319;
    background-color: #FCDFBD;
    box-shadow: $shadow;
    opacity: $opacity-Shadow;
    width: $width-page;
    height: $height-page;
    padding: $padding-page;
    margin: $margin-page;  
}



