$back-Principal : #579C87;
$color-Principal : #FFCA46;
$color-page : #000;
$color-menu1 : #3C1218;

$align-text: center;

$shadow: 0.05 0.5px 5px #888;
$opacity-Shadow : 1;

$size-titre : 3rem;
$size-stitre : 3rem;
$size-ptitre : 4.5rem;

$display-titre : flex;
$white-space: nowrap;

$font-stitre : "Segoe Print", sans-serif;
$font-menu1 : "Devonshire", sans-serif;
$font-menu2 : "Croissant one", sans-serif;
$font-menu3 : "Dancing script", sans-serif;
$font-menu4 : "Kaushan script", sans-serif;
$font-page-1-3-4: "Kalam", sans-serif;


$padding-page : 8rem 0 8rem 0;
$margin-page : 5rem;
$margin-stitre: 0 1.6rem;
